@model IEnumerable<PrototypeWebBlockchain.Models.Member>

@{
    ViewBag.Title = "Member List";
}

<h2>Registration</h2>

<p>
  
<table class="table table-dark" id="nmembertable">
    <tr>
        <th>
            Email
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Age
        </th>
        <th>
            Contact Number
        </th>
        <th>
            Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

    <center>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </center>